body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  font-family: "Play", sans-serif;
  box-sizing: border-box;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34vh;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.splash-title {
  font-family: "Black Ops One", cursive;
  font-size: 10rem;
}

.splash-battleship-image {
  position: absolute;
  right: 20%;
  top: 20%;
  width: 60%;
  pointer-events: none;
  opacity: 0.25;
}

.btn {
  font-size: inherit;
  background-color: mediumspringgreen;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.2em;
  color: #333;
}

.btn:hover,
.btn:focus {
  background-color: springgreen;
}

.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
}

.splash-btn:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.battleship-grid {
  margin: 1vmin;
  display: grid;
  background-color: dodgerblue;
  grid-template-rows: repeat(10, 4.8vmin);
  grid-template-columns: repeat(10, 4.8vmin);
}

.grid-computer > .taken,
.grid-computer > .boom {
  background-color: dodgerblue !important;
  border-radius: 0 !important;
}

.taken,
.ship {
  position: relative;
  background-color: lightgray;
}

.taken.start.vertical {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.taken.end.vertical {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.start.horizontal {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.taken.end.horizontal {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.grid-display {
  display: flex;
}

.ship > div {
  width: 4.8vmin;
  height: 4.8vmin;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.8vmin * var(--width, 1));
  height: calc(4.8vmin * var(--height, 1));
  border-radius: 2.3vmin;
}

.battleship-grid > div,
.ship > div {
  border: 1px solid #ffffff33;
}

.destroyer-container {
  --width: 2;
}

.destroyer-container-vertical {
  --height: 2;
  --width: 1;
}

.submarine-container,
.cruiser-container {
  --width: 3;
}

.submarine-container-vertical,
.cruiser-container-vertical {
  --height: 3;
  --width: 1;
}

.battleship-container {
  --width: 4;
}

.battleship-container-vertical {
  --height: 4;
  --width: 1;
}

.carrier-container {
  --width: 5;
}

.carrier-container-vertical {
  --height: 5;
  --width: 1;
}

.hidden-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 1rem;
}

.miss,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.miss::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.miss::after {
  background-color: white;
}

.boom::after {
  background-color: red;
}

.player {
  margin: 2vmin;
}

.connected,
.ready {
  font-weight: normal;
  opacity: 0.25;
  text-decoration: line-through;
}

.connected.active,
.ready.active {
  opacity: 1;
  text-decoration: none;
}

span {
  font-size: 8px;
  text-align: center;
  display: none;
}

.buttons {
  display: flex;
}
